<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
  <title>Búsqueda de Cédula</title>
</head>
<body>
  <div class="container">
    <div class="search-box">
      <h1>Prueba 63 - Paute</h1>
      <input type="text" placeholder="Ingrese la cédula" id="cedulaInput">
      <button onclick="buscarCedula()">Búsqueda</button>
    </div>
    <div class="result-box">
      <label for="result">Resultado:</label>
      <div id="result"></div>
    </div>
  </div>

  <script src="script.js"></script>
</body>
</html>

<router-outlet></router-outlet>
